<footer class="bg-sky-300 text-white py-2 text-center">
    <span>
        &copy <a href="https://github.com/joacoCenteno" target="_blank">joacoCenteno</a> - Todos los Derechos Reservados 2025
    </span>
</footer>