<nav class="flex justify-between items-center px-10">
    <div>
        <a href="/"><img src="/images/logo_nodo.avif" width="150" alt=""></a>
    </div>
    <div><ul class="flex justify-between text-sky-400 text-bold w-100">
        <li><a href="/paises?pagina=1">Listado Paises</a></li>
        <li><a href="/pais/insertar-pais">Agregar Pais</a></li>
        <li><a href="/acerca-de">Acerca De</a></li>
    </ul></div>
</nav>