<section class="flex flex-col justify-center items-center h-135 mt-10 mb-10 gap-0">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="" class="size-15 fill-sky-300 mr-25">
        <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm11.378-3.917c-.89-.777-2.366-.777-3.255 0a.75.75 0 0 1-.988-1.129c1.454-1.272 3.776-1.272 5.23 0 1.513 1.324 1.513 3.518 0 4.842a3.75 3.75 0 0 1-.837.552c-.676.328-1.028.774-1.028 1.152v.75a.75.75 0 0 1-1.5 0v-.75c0-1.279 1.06-2.107 1.875-2.502.182-.088.351-.199.503-.331.83-.727.83-1.857 0-2.584ZM12 18a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" clip-rule="evenodd" />
    </svg>

    <h2 class=" w-80 text-3xl font-bold text-sky-300 mb-5">Acerca de la App</h2>
    <p class="w-150 text-justify">
        Este proyecto fue desarrollado como parte de la Diplomatura en Desarrollo Web dictada en el Nodo Tecnológico de Catamarca.
Su objetivo es aplicar y demostrar los conocimientos adquiridos a lo largo de la formación, incluyendo el manejo de bases de datos, desarrollo backend, diseño frontend y buenas prácticas de programación.

La aplicación permite gestionar información de países de habla hispana en América, así como crear, editar y eliminar registros de otros países, ofreciendo una interfaz intuitiva y funcional.

Este trabajo busca no solo cumplir con los requisitos académicos, sino también servir como un ejemplo práctico de desarrollo web integral, combinando distintas tecnologías y enfoques para resolver necesidades reales.
    </p>
</section>